/*Importando a fonte do Google - ROBOTO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #DCDCDC	;;
}

li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #302c7c;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

img{
    height: 10%;
 width: 10%;
}

.logo{
    cursor: pointer;
}

.nav_links {
 list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

footer{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    padding: 30px 10%;
    background-color: #302c7c;
}
.footer_links  li  {
    display: inline-block;
    padding: 0px 100px;
}
.footer_links  li  a {
    color: #DCDCDC;
}